extends layout

//- Page title
block title
  title Da Playground

block content
  .container(ng-app="")
    h1 Da Playground

    h2.head Language
    a.tile.first(style="background-color:#9999cc",href="http://php.net",target="_blank")
      h3 PHP
    a.tile(style="background-color:#8cc84b",href="http://nodejs.org",target="_blank")
      h3 Javascript
    a.tile(style="background-color:#ffe05d",href="http://python.org",target="_blank")
      h3 Python

    //- Framworks
    h2.head Frameworks
    a.tile.first(style="background-color:#cecece",href="http://expressjs.com",target="_blank")
      h3 ExpressJS
    a.tile(style="background-color:#dd1b16",href="http://angularjs.org/",target="_blank")
      h3 AngularJS
    a.tile(style="background-color:#fb523e",href="http://laravel.com/",target="_blank")
      h3 Laravel(PHP)

    //- Database
    h2.head Database
    a.tile.first(style="background-color:#015a84",href="http://www.mysql.com/",target="_blank")
      h3 MySQL
    a.tile(style="background-color:#008fbe",href="http://www.postgresql.org/",target="_blank")
      h3 PostgreSQL
    a.tile(style="background-color:#402a18",href="http://www.mongodb.org/",target="_blank")
      h3 MongoDB

    //- Projects
    h2.head Projects
    a.tile.first(style="background-color:#009cea",href="#")
      h3 AngularJS
      .content Work in Progress...

    a.tile(style="background-color:#7cbb00",href="#")
      h3 NodeJS
      .content Work in Progress...

    a.tile(style="background-color:#ec4f13",href="#")
      h3 PHP
      .content Work in Progress...

    h2.head Education
    a.tile.first(style="background-color:#184439",href="http://www.msu.edu",target="_blank")
      h3 Michigan State University
