!!! 5
head
  meta(charset='utf-8')
  block title
  meta(name='description', content='')
  meta(name='author', content='')
  // Mobile Specific
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  // CSS
  != css('app')
  
body
  block content

  != js('//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
  //- != js('//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
  != js('app')

| </html>